<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
   
    <!-- bootstrap js dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
     {{!-- fontawesome --}}
    <script src="https://kit.fontawesome.com/11c4deb73c.js"></script>
    {{!-- google font --}}
    <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Bentham|Exo&display=swap" rel="stylesheet">

    <title>Julias Child</title>
  </head>


  <body class="mainBody" id="mainBodyID">

    <!--logout button-->
    <header class="container fixed-top mt-2">
      <a href="/logOut" class="row justify-content-end">
        <span id="logOutButton">
          Log Out
        </span>      
      </a>
    </header>

            <h1 class="mainTitle">{{{title}}} </h1>
            <p class="body">{{{body}}} </p>

  </body>
</html>