/* LOG IN PAGE  */
.logIncontainer, .SignIncontainer {
    background-image: url(/images/yellow.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; 
    height:100%;
    width:100%;
    margin:0;
    display:flex;
}

  form {
    margin:auto;
     padding-top: 300px;
    /* border-style: solid;
    border-color: red; */
  }
  #exampleInputPassword1{
      margin-bottom: 20px;
  }
  #logInID, singInID {
      color: rgb(63, 23, 23);
  }

  /* index.handlebars page */
  #heartImage{
      width: 16px;
      height: 16px;
      cursor: pointer; 
  }
#home{
    background-image: url(/public/images/yellow.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; 
    height:100%;
    width:100%;
    margin:0;
    display:flex;
}
#recipeCards{
    margin: 25px 25px 25px 25px;
    border-style: solic;
    border-color: red;
    padding: 25, 25, 25, 25;
}

#cardID{
    background-color:red;
}
/* GROCERY PAGE */
#itemsToBuyTitle{
    text-align: center;
    height:100%;
    width:100%;
    margin: auto;
    display: inline-block;
}