                                                    /* main page HANDLEBARS PAGE*/
.mainTitle{
    font-size: 110px;
    text-align: center;
    font-family: 'Tangerine', cursive;
    padding-top: 90px;
  }

  .mainBody{
    background-image: url(/images/cboard2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
#mainBodyID{
    font-family: 'Tangerine', cursive;
}

                                                    /* /login  */
form {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  #exampleInputPassword1{
      margin-bottom: 20px;
  }



                                                    /* /index*/
#yourRecipeBox{
    text-align: center;
      width:100%;
      height:100px;
      padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
  }

  #recipeBoxPic{
    width: 240px;
    height: 200px;
  }
  #searchContainer{
      align-items: center;
      margin-left: 290px;
  }
  .search-txt, .create-text{
      text-align: center;
      height: 40px;
      border-radius: 40px;
      padding: 10px;
    margin: 20px 20px 20px 20px;

  }

.fas{
color: red;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
/* padding: 20px 20px 20px 20px;
margin: 20px 20px 20px 20px; */

}
  #heartImage{
      width: 16px;
      height: 16px;
      cursor: pointer; 
      color: red;
  }

#recipeCards{
    margin: 25px 25px 25px 25px;
    border-style: solid;
    border-color: red;
    float: right;
}


/* GROCERY PAGE */
#itemsToBuyTitle{
    text-align: center;
    height:100%;
    width:100%;
    margin: auto;
    display: inline-block;
}

.modalImg {
    width: 100%;
}